<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="DefectsEntities" connectionString="metadata=res://*/DbModel.DefectDbModel.csdl|res://*/DbModel.DefectDbModel.ssdl|res://*/DbModel.DefectDbModel.msl;provider=System.Data.SQLite.EF6;provider connection string=&quot;data source=C:\Users\EpaneshnikovSA\Source\Repos\STW.TPC1.UNSK.Defects\BD\Defects.sqlite&quot;" providerName="System.Data.EntityClient" />
    <add name="MDT6DBEntities" connectionString="metadata=res://*/MDT6DbModel.MDT6DBModel.csdl|res://*/MDT6DbModel.MDT6DBModel.ssdl|res://*/MDT6DbModel.MDT6DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MDT6\SQLEXPRESS;initial catalog=MDT6DB;persist security info=True;user id=unsknet;password=yhnbgt;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ScanerTubeInfoEntities" connectionString="metadata=res://*/ScanerDbModel.ScanerDbModel.csdl|res://*/ScanerDbModel.ScanerDbModel.ssdl|res://*/ScanerDbModel.ScanerDbModel.msl;provider=System.Data.SQLite.EF6;provider connection string='data source=&quot;d:\#Documents\Visual Studio 2015\Projects\ScanerDirectoryReader\ScanerReaderCUI\ScanerTubeInfo.sqlite&quot;'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>